---
title: Resources - Anuvrat, NIT Sikkim
---
{# Add appropriate description#}

{% import "shared/macros.njk" as macro %}

<div id="resources" class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for repo in repos.resourceRepos %}
            {{macro.repoCard(repo, gh)}}
        {%else %}
            <div class="h3">Coming Soon...</div>
        {% endfor %}
    </div>
</div>
