---
pagination:
    data: repos
    size: 1
    alias: repo
permalink: "resources/{{ repo.name | slug }}/index.html"
eleventyComputed:
    title: "{{repo.name | reformatRepoName}}"
    description: "{{repo.description}}"
---
<div class="container">
    {% renderAndResolveMD repo.readme,
    repo.name %}
</div>
