<div id="team">
     <!-- Section 3 Seceratory -->
    <section class="main_header text-dark py-1 mb-5" id="seceratory">
        <div class="container my-5">
            <div class="club_member text-center text-primary">
                <h2>Seceratory</h2>
                <hr class="w-25 mx-auto">
            </div>
            <div class="row mt-5 text-center justify-content-center">
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a  href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 3 Secoratry -->

    <section class="main_header text-dark py-4 my-5">
        <div class="row convener justify-content-center mx-auto text-center">
            <!-- Section 2 convener -->
            <!-- <div class="container col-lg-6 col-12 mx-auto"> -->
                
                <div class="col-lg-6 col-12">
                    <div class="club_member text-center text-primary">
                    <h2>Convener</h2>
                    <hr class="w-25 mx-auto">
                </div>
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a
                                        natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
            <!-- Section 2 convener -->



            <!-- Section 4 treasure -->

            <!-- <div class="container col-lg-6 col-12 mx-auto"> -->
                
                <div class="col-lg-6 col-12">
                    <div class="club_member text-center text-primary">
                    <h2>treasurer</h2>
                    <hr class="w-25 mx-auto">
                </div>
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a
                                        natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
            <!-- Section 4 treasure -->
        </div>
    </section>

    <!-- Section 1 -->
    <section class="main_header text-dark" id="allmemb">
        <div class="container my-5">
            <div class="club_member text-center text-primary">
                <h2>Our Club Member</h2>
                <hr>
                <hr>
            </div>
            <div class="row mt-5 text-center justify-content-center gy-3">
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a  href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="......." class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-instagram fa-1x mx-1"></a>
                                    <a href="#" class="fa fa-linkedin fa-1x mx-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- !Section 1 -->
</div>
