{%styles%}
.teamcard{
    .intro {
        width: 90%;
        position: relative;
        bottom: 70px;
    }
    .dash {
        width: 1.25em;
        height: 2.5px;
    }
    .img{
        border-radius: 15px;
    }
}
{%endstyles%}

{% macro Card(team, loop) %}
    <div class="col-6 col-lg-4 col-xl-3 teamcard">
        <div class="mx-auto px-auto">
            <div><img src="{{team.photo}}" alt="{{team.Name}}" class="img img-fluid"></div>
            <div class="intro mx-auto text-center px-2 py-3 bg-light">
                <div class="text-dark h6">{{team.Name}}</div>
                <div class="dash mx-auto my-2 bg-primary"></div>
                <div class="small text-muted">{{team.Role}}</div>
                    <div class="text-muted text-dark mt-1">
                        {% if team.Email %}
                            <a href="mailto:{{team.Email}}" target="_blank" class="no-decoration mx-1">
                                <i class="fa fa-envelope"></i>
                            </a>
                        {% endif %}
                        {% if team.Facebook %}
                            <a href="{{team.Facebook}}" target="_blank" class="no-decoration mx-1">
                                <i class="fa fa-facebook"></i>
                            </a>
                        {% endif %}
                        {% if team.Instagram %}
                            <a href="{{team.Instagram }}" target="_blank" class="no-decoration mx-1">
                                <i class="fa fa-instagram"></i>
                            </a>
                        {% endif %}
                        {% if team.Linkedin %}
                            <a href="{{team.Linkedin}}" target="_blank" class="no-decoration mx-1">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        {% endif %}
                        {% if team.Github %}
                            <a href="{{team.Github}}" target="_blank" class="no-decoration mx-1">
                                <i class="fa fa-github"></i>
                            </a>
                        {% endif %}
                    </div>

            </div>
        </div>
    </div>
{% endmacro %}

<div id="teams">

    <div class="heading"> Our Mentors</div>

    <div class="container mb-5">
        {# <div class="heading">Meet Our Team</div> #}
        <div class="row justify-content-around">
            {% for team in teams.fic %}

                {{ Card(team, loop) }}

            {% endfor %}
        </div>
    </div>
    <div class="heading">Meet Our Team</div>
    <div class="container mb-5">
        <div class="row justify-content-around">
            {% for team in teams.advisories %}

                {{ Card(team, loop) }}

            {% endfor %}
        </div>
    </div>

    <div class="container mb-5">
        <div class="row justify-content-around">
            {% for team in teams.head %}

                {{ Card(team, loop) }}

            {% endfor %}
        </div>

    </div>

    <div class="container mb-5">
        <div class="row justify-content-around">
            {% for team in teams.coordinators %}

                {{ Card(team, loop) }}

            {% endfor %}
        </div>

    </div>

    {# <div class="container" class="mb-5">
        <div class="heading">Our Volunteers</div>
        <div class="row justify-content-around">
            {% for team in teams.volunteers %}

                {{ Card(team, loop) }}

            {% endfor %}
        </div>

    </div> #}


</div>
