<style>

    .intro {
        width: 80%;
        border: 2px solid black;
        margin: 0 auto 50px;
        background-color: rgb(255,255,255);
        position: relative;
        bottom: 15px;
        padding: 5px;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 4px;
    }
    .dash {
        width: 70px;
        height: 1.5px;
        margin: 5px;
        background-color: rgb(0, 150, 250);
    }
    .rounded-circle{
     border-radius: 15% !important;
    }
    .contained {
        width: 80%;
        height: auto;
        margin-left: 30px;
        {
            # border-radius: 10px !important;
            #;
        }
    }
</style>

{% macro Card(team, loop) %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="mx-auto px-auto ">
            <div class="contained"><img src="{{team.photo}}" alt="{{team.Name}}" class="img-fluid rounded-circle" style="width=100% "></div>
            <div class="intro" style="border-radius:20px">
                <div class="text-dark h5">{{team.Name}}</div>
                <div class="dash text-center"></div>
                <div class="d-flex justify-content-between text-dark">
                    <span class="text-small">{{team.Role}}</span>
                    <div class="social-links no-decoration">
                        {% if team.Email %}
                            <a href="mailto:{{team.Email}}" target="_blank" class="no-decoration mx-1">
                                <i class="fa fa-envelope"></i>
                            </a>
                        {% endif %}
                        {% if team.Facebook %}
                            <a href="{{team.Facebook}}" target="_blank" class="no-decoration mx-1">
                                <i class="fa fa-facebook"></i>
                            </a>
                        {% endif %}
                        {% if team.Instagram %}
                            <a href="{{team.Instagram }}" target="_blank" class="no-decoration mx-1">
                                <i class="fa fa-instagram"></i>
                            </a>
                        {% endif %}
                        {% if team.Linkedin %}
                            <a href="{{team.Linkedin}}" target="_blank" class="no-decoration mx-1">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

<div id="teams">

    <div class="heading"> Our Mentors</div>

    <div class="container mb-5">
        {# <div class="heading">Meet Our Team</div> #}
        <div class="row justify-content-around">
            {% for team in teams.fic %}

                {{ Card(team, loop) }}

            {% endfor %}
        </div>
    </div>
    <div class="heading">Meet Our Team</div>
    <div class="container mb-5">
        {# <div class="heading">Meet Our Team</div> #}
        <div class="row justify-content-around">
            {% for team in teams.advisories %}

                {{ Card(team, loop) }}

            {% endfor %}
        </div>
    </div>

    <div class="container mb-5">
        {# <div class="heading">Meet Our Team</div> #}
        <div class="row justify-content-around">
            {% for team in teams.head %}

                {{ Card(team, loop) }}

            {% endfor %}
        </div>

    </div>

    <div class="container mb-5">
        {# <div class="heading">Our Coordinators</div> #}
        <div class="row justify-content-around">
            {% for team in teams.coordinators %}

                {{ Card(team, loop) }}

            {% endfor %}
        </div>

    </div>

    {# <div class="container" class="mb-5">
        <div class="heading">Our Volunteers</div>
        <div class="row justify-content-around">
            {% for team in teams.volunteers %}

                {{ Card(team, loop) }}

            {% endfor %}
        </div>

    </div> #}

    {# <div class="container" class="mb-5">
        <div class="heading">Advisory Committee</div>
        <div class="row justify-content-around">
            {% for team in teams.advisories %}

                {{ Card(team, loop) }}

            {% endfor %}
        </div>

    </div> #}

</div>