<div id="about">
    <div class="container">
        <div class="heading">About Us</div>
        <div class="lead my-2">Some Content Here</div>
        <a class="arrow-btn no-decoration smoothScroll" href="#activities">{% icon "down-arrow",
        32 %}</a>
    </div>
</div>
