<div id="about">
    <div class="container">
        <div class="heading">About Us</div>
        <div class="lead text-quaternary fw-normal" style="padding-bottom: 100px;">
            <p>The ECE Society <strong>‘ANUVRAT’</strong> has been established to motivate the students towards the research and development works in the field of Electronics and Communication. An environment of enthusiasm toward technology and innovation is promoted here for the young minds of NIT Sikkim to think out of the box and lead to new discoveries and inventions. The club aims to provide these young engineers a platform to put forward their ideas, innovations and thought processes to the world. We encourage them to prove their talents in the challenging arenas in this world of technological progression.
            The students here also equip themselves with the necessary technical skills required for making them as exemplary engineers. The club promises to develop technically competent engineers in electronics and communication by organizing various activities and events that support the students to excel in their career.
            </p>
            <p>
            The tagline of the club <strong>“Where innovation never ends…”</strong> symbolizes the continuing process of <strong>‘learning and innovating’</strong> at this club.
            </p>
        </div>
        <a class="arrow-btn no-decoration smoothScroll" href="#activities">{% icon "down-arrow",
        32 %}</a>
    </div>
</div>
