<div id="activities">
    <div class="container pb-5">
        <div class="heading">Activities</div>
        <div class="row justify-content-around">
            {% for activity in activities %}
                <div class="row p-0 my-2 border border-primary" style="min-height: 350px">
                    <div class="p-3 col-md-12 col-lg-7 {{ 'order-lg-1 order-2' if loop.index%2 else 'order-lg-2 order-1' }}">
                        <div>
                            <div class="h2">{{ activity.name }}</div>
                            <div class="activity-content">
                                {{ activity.description | nl2br | safe }}</div>
                        </div>
                    </div>
                    <div class="p-1 col-md-12 bg-secondary col-lg-5 {{ 'order-lg-2 order-1' if loop.index%2 }}" style="min-height: 350px">
                        <img src="{{ activity.image }}" class="img-fluid activity-image">
                    </div>
                </div>
            {% endfor %}
        </div>
        {# <div class="mt-5 text-center lead fw-normal">
            Know More About Our Upcoming Events And Activities From Our
            <a href="{{ meta.linkedin }}" target="_blank">LinkedIn</a>
            Page
        </div> #}
    </div>
</div>

{% styles %}
.activity-content{
    font-size: 18px;
}
.activity-icon{
    font-size: 128px;
}
.activity-image {
    height: 100%;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
{% endstyles %}
