<div id="activities">
    <div class="container">
        <div class="heading">Activities</div>
        <div class="row justify-content-around">
                {% for activity in activities %}
 				<div class="my-3 col col-12 col-md-6 col-lg-4">
                 <div class="card-flip">
					<div class="flip">
						<div class="front">
							{# <!-- front content --> #}
							<div class="card h-100" style="background-image: url({{activity.image}})">
							</div>
						</div>
						<div class="back">
							{# <!-- back content --> #}
							<div class="card h-100">
							  <div class="card-body py-2 px-3">
							    <h4 class="card-title text-primary">{{activity.name}}</h4>
							    <h6 class="card-text text-quaternary">{{activity.description | safe}}</h6>
							  </div>
							</div>
						</div>
					</div>
				</div>
                </div>
                {% endfor %}

        </div>
        <div class="mt-5 text-center lead fw-normal">
        Know More About Our Upcoming Events And Activities From Our <a href="{{meta.linkedin}}" target="_blank">LinkedIn</a> Page
        </div>
    </div>
</div>
