<div id="landing">
    {# {% include "components/pcbSvg.njk" %} #}
    <div class="container text-center">
        <h1 class="display-4 fw-bold">Welcome to Anuvrat</h1>
        <p class="lead fw-bold">Where Innovation Never Ends...</p>
    </div>
    <a class="arrow-btn no-decoration smoothScroll" href="#about">{% icon "down-arrow",
        32 %}</a>
</div>

