{% import "shared/macros.njk" as macros %}
<div id="landing">
    <div class="text-center h-100">
        <div id="lamp">
            <div class="lamp lamp-glow" id="light-source">
                <div class="gonna-give-light"></div>
            </div>
            <div class="landing-text position-relative">
                <h1 class="display-4 fw-bold glowable text-glow">Welcome to Anuvrat</h1>
                <p class="lead fw-bold glowable text-glow">Electronics Club of NIT Sikkim.</p>
            </div>
            <div id="switch-holder" class="d-flex justify-content-center">
                <div class="switch">
                    <input type="checkbox" name="switch-inp" id="switch-inp" checked/>
                    <label for="switch-inp"></label>
                </div>
            </div>
        </div>
    </div>

    {{macros.downArrow("#about")}}

</div>

{% styles %}
#landing{
    #lamp {
        position: relative;
        overflow: hidden;
        height: 100%;
    }
    .lamp {
        position: relative;
        margin: 0 auto;
        width: 0.7rem;
        height: 10rem;
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
        background-repeat: no-repeat;
        background-size: 0.15rem 8rem, 0.4rem 0.8rem, 0.7rem 2rem;
        background-position: 50% 0, 0.19rem 8rem, 0 8.8rem;
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
        animation: swinging 3.5s ease-in-out forwards infinite;
    }
    .lamp:before {
        content: '';
        position: absolute;
        left: -1.65rem;
        bottom: -4rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: rgba(255,255,255,0.03);
        box-shadow: inset 2px -2px 10px rgba(255,255,255,0.07);
        transition: all 0.15s;
    }
    .gonna-give-light,
    .gonna-give-light:before {
        position: absolute;
    }
    .gonna-give-light {
        top: 10.05rem;
        left: 0.25rem;
        width: 0;
        height: 1.5rem;
        border-right: 0.2rem solid rgba(255,255,255,0.05);
    }
    .gonna-give-light:before {
        content: '';
        top: 1.5rem;
        left: -0.35rem;
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 50%;
        border: 0.2rem solid rgba(255,255,255,0.05);
        box-shadow: 0 0 50px rgba(255,255,255,0);
    }
    .glow,
    .lamp-glow:before {
        background: rgba(var(--bulb-color, 0.9));
        box-shadow: 0 2px 10px rgba(var(--bulb-color),0.8), 0 5px 50px rgba(var(--bulb-color),0.8), 0 8px 80px rgba(var(--bulb-color),0.6), 0 8px 120px rgba(var(--bulb-color),0.6);
    }
    .glowable{
        opacity: 0.3;
    }

    @keyframes swinging {
        0% {
            transform: rotate(10deg);
        }
        50% {
            transform: rotate(-5deg);
        }
        100% {
            transform: rotate(10deg);
        }
    }

    #switch-holder {
        position: relative;
        top: 20%;
    }
    .switch {
        position: relative;
        height: 50px;
        width: 50px;
    }
    .switch input {
        visibility: hidden;
    }
    .switch label {
        cursor: pointer;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 50%;
        background: #eaeaea;
        box-shadow: 0 3px 5px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -5px 5px rgba(100,100,100,0.1), inset 0 5px 5px rgba(255,255,255,0.3);
    }
    .switch label:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: -8%;
        right: -8%;
        bottom: -8%;
        left: -8%;
        border-radius: inherit;
        background: #ddd;
        /* Fallback */
        background: linear-gradient(#ccc, #fff);
        box-shadow: inset 0 2px 1px rgba(0,0,0,0.15), 0 2px 5px rgba(200,200,200,0.1);
    }
    .switch label:before {
        content: "";
        position: absolute;
        width: 20%;
        height: 20%;
        left: 40%;
        top: 40%;
        border-radius: inherit;
        background: #969696;
        /* Fallback */
        background: radial-gradient(40% 35%, #ccc, #969696 60%);
        box-shadow: inset 0 2px 4px 1px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,1), inset 0 1px 0 white;
    }
    .switch input:checked ~ label {
        /* Button */
        background: #e5e5e5;
        /* Fallback */
        background: linear-gradient(#dedede, #fdfdfd);
    }

    .switch input:checked ~ label:before {
        /* LED */
        background: rgb(var(--bulb-color));
        /* Fallback */
        background: radial-gradient(40% 35%, rgb(var(--bulb-color)), rgb(var(--bulb-color)) 60%);
        box-shadow: inset 0 3px 5px 1px rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,0.4), 0 0 10px 2px rgba(var(--bulb-color), 0.5);
    }

    .landing-text {
        position: relative;
        top: 100px;
    }
}

{% endstyles %}

<script>
    document
        .getElementById('switch-inp')
        .addEventListener('change', (e) => {
            document.getElementById('light-source').classList.remove('lamp-glow')
            Array.from(document.getElementsByClassName('glowable')).forEach((elem) => {
                    elem.classList.remove('text-glow')
                })

            if (e.target.checked) {
                document.getElementById('light-source').classList.toggle('lamp-glow')
                Array.from(document.getElementsByClassName('glowable')).forEach((elem) => {
                        elem.classList.toggle('text-glow')
                    })
            }
        })
</script>
<!-- Reference: http://www.css3transition.com/lamp-off-animation-using-css/ -->
