
<div id="landing">
    <div class="container text-center">
        <h1>Welcome to Anuvrat</h1>
        <p>Some Content Here</p>
    </div>
    <a class="arrow-btn no-decoration smoothScroll" href="#about">{% icon "down-arrow",
        32 %}</a>  
   
</div>
