<footer id="footer" class="footer mt-auto">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-4 text-center text-md-start mb-4">
                <div>
                    <img src="/assets/images/logo.png" class="img-fluid" style="width:100px; height:100px;">
                    <div class="text-white">
                        <h4 class="mb-4 mt-2">Anuvrat</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-white text-md-start justify-content-center d-flex mb-4">
                <ul class="fa-ul">
                    <li>
                        <p>
                            <i class="fa-li fa fa-map-marker"></i>{{meta.address}}</p>
                    </li>
                    <li>
                        <p>
                            <i class="fa-li fa fa-envelope"></i>
                            <a href="{{'mailto:'+meta.email}}">{{meta.email}}</a>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 text-white text-center text-md-start mb-4 justify-content-center d-flex">
                <div>
                    <span class="fw-bold">Socialize With Us:</span>
                    <div class="my-2 social-links">
                        <a href="{{meta.linkedin}}" target="_blank">
                            <i class="fa fa-linkedin fa-2x mx-2"></i>
                        </a>
                        <a href="{{meta.youtube}}" target="_blank">
                            <i class="fa fa-youtube fa-2x mx-2"></i>
                        </a>
                        <a href="{{meta.github}}" target="_blank">
                            <i class="fa fa-github fa-2x mx-2"></i>
                        </a>
                        <a href="{{meta.facebook}}" target="_blank">
                            <i class="fa fa-facebook fa-2x mx-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center bg-secondary py-2 mt-2">
        <span class="text-quaternary">Anuvrat &copy; {{build.timestamp.getFullYear()}}, <a href="https://nitsikkim.ac.in" target="_blank">NIT Sikkim</a>
        </span>
    </div>
</footer>
