<nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top shadow-lg">
    <div class="container">
        <a class="navbar-brand text-quaternary" href="/"><img src="/assets/images/logo_text.png" style="filter: invert(1);" class="text-white" width="auto" height="40"></a>
        <button class="navbar-toggler bg-quaternary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsupportedcontent" aria-controls="navbarsupportedcontent" aria-expanded="false" aria-label="toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsupportedcontent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% for item in navbarLinks %}
                    <li class="nav-item position-relative">
                        <a class="nav-link" href="{{item.url}}">{{item.name}}</a>
                    </li>
                {% endfor %}
                 <li class="position-relative ms-none ms-lg-2 mt-2 mt-lg-none">
                    <a class="nav-link text-quaternary" href="{{meta.nitsikkim_site}}">
                        <img src="/assets/images/nit_logo.png" class="img-fluid" width="30" alt="NIT Sikkim Logo">
                        <span class="d-inline d-lg-none px-1 fw-bold">NIT Sikkim</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
