---
title: Events - Anuvrat, NIT Sikkim
---

<div id="events">
    <div id="events" class="container">
        <div class="accordion accordion-flush" id="accordionflush">
            {% for event in events %}
                <div class="accordion-item">
                    <div class="accordion-header h2" id="flush-heading-{{loop.index}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{loop.index}}" aria-expanded="false" aria-controls="flush-collapse-{{loop.index}}">
                            <img src="{{event.thumbnail}}"/>
                            {{event.name}}
                            {{event.description}}
                        </button>
                    </div>

                    <div id="flush-collapse-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ loop.index }}" data-bs-parent="#accordionflush">
                        <div class="accordion-body">
                            {% for playlist in event.playlist %}
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="{{playlist.thumbnail}}" alt="{{playlist.name}}">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{playlist.name}}</h5>
                                                <p class="card-text">{{playlist.description}}</p>
                                                {# <p class="card-text">
                                                    <small class="text-muted">Last updated 3 mins ago</small>
                                                </p> #}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
