<div id="gallery" class="container mb-4">
  <div class="heading">Gallery</div>

  <ul class="nav nav-pills mb-3 w-100 justify-content-center text-primary" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active no-decoration" id="showall-tab" data-bs-toggle="pill" href="#showall" role="tab" aria-controls="showall" aria-selected="true">Show All</a>
    </li>
    {% for key, value in gallery %}
      <li class="nav-item">
        <a class="nav-link no-decoration" id="{{key}}-tab" data-bs-toggle="pill" href="#{{key}}" role="tab" aria-controls="{{key}}" aria-selected="false">{{key | title}}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content" id="pills-tabcontent">
    <div class="tab-pane fade show active" id="showall" role="tabpanel" aria-labelledby="showall-tab">
      <div class="spotlight-group row justify-content-center">
        {% for folder, images in gallery %}
          {% for image in images %}
            <div class="spotlight col-lg-3 col-md-4 col-6 g-0 hover-shadow" data-src="/assets/images/gallery/{{folder}}/{{image}}">
                <div class="gallery-img m-2">
                    <img src="/assets/images/gallery/{{folder}}/{{image}}" class="w-100 h-100">
                </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>

    {% for folder, images in gallery %}
      <div class="tab-pane fade" id="{{folder}}" role="tabpanel" aria-labelledby="{{folder}}-tab">
        <div class="spotlight-group row justify-content-center">
          {% for image in images %}
            <div class="spotlight col-lg-3 col-md-4 col-6 g-0 hover-shadow" data-src="/assets/images/gallery/{{folder}}/{{image}}">
                <div class="gallery-img m-2">
                    <img src="/assets/images/gallery/{{folder}}/{{image}}" class="w-100 h-100">
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

  </div>
</div>

{% styles %}
#imagemodal{
    transition-duration: 0.4s;
    animation: popAnim 0.5s;
}
  .modal-close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1200;
    font-size: 32px;
    color: black;
  }
  .gallery-img {
    position: relative;
    transition-duration: 0.4s;
    height: 150px;
    animation: popAnim 0.5s;
    backface-visibility: visible;
    img {
        border-radius: 5px;
        object-fit: cover;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
    }
  }

  #pills-tab {
    .nav-item .nav-link {
        border-radius: 15px;
    }
    .active {
        background-color: var(--bs-senary);
        color: var(--bs-secondary) !important;
    }
  }

{% endstyles %}
<script src="https://rawcdn.githack.com/nextapps-de/spotlight/0.7.8/dist/spotlight.bundle.js"></script>
<script>

</script>
