// Credits: https://codepen.io/christopherprins/pen/rZZWoj
.st0 {
    fill: none;
    stroke: $success;
    stroke-miterlimit: 10;
}
.st1 {
    fill: none;
    stroke: $warning;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
