@import "./bootstrap";
@import "./animations";
@import "./utils";
@import "./activitiesHover";
@import "./pcbAnimation";



body {
    @extend .bg-secondary, .text-primary;
}

#content {
    min-height: 79vh;
}
#content > div:not(#home) {
    padding-top: 80px;
}

// Index Page
#about,
#activities {
    min-height: 100vh;
    padding-top: 60px;
    @extend .position-relative;
}

#landing {
    height: 100vh;
    @extend .position-relative;
    .container {
        @extend .m-0, .position-absolute, .text-quaternary;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.arrow-btn {
    bottom: 40px;
    left: 0px;
    right: 0px;
    animation: MoveUpDown 2s linear infinite;
    @extend .text-center, .position-absolute;
    .icon{
        fill:$quaternary;
    }
}

.navbar-nav .nav-item {
    :not(.active) {
        @extend .anim-hoverUnderline;
    }
    .active {
        color: $quaternary !important;
        &:after {
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            background: $quaternary;
            width: 100%;
        }
        pointer-events: none;
    }
}

#navbar {
    @extend .navbar-dark, .bg-tertiary;
    transition: 0.5s;
}
