@import "./bootstrap";
@import "./animations";
@import "./utils";

body {
    @extend .bg-secondary, .text-quaternary;
}

#content {
    min-height: 100vh;
}
#content > div:not(#home) {
    padding-top: 80px;
}

.navbar-nav .nav-item {
    @extend .mx-md-2;
    :not(.active) {
        @extend .anim-hoverUnderline, .text-primary;
    }
    .active {
        color: $quaternary !important;
        &:after {
            content: "";
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            background: $quaternary;
            width: 100%;
        }
        pointer-events: none;
    }
}

// Index Page
#about,
#activities {
    min-height: 100vh;
    padding-top: 60px;
    @extend .position-relative;
}

#landing {
    height: 100vh;
    background-image: url('/assets/images/landing.jpg');
    background-size: cover;
    @extend .position-relative, .bg-tertiary, .text-quaternary;
}

.arrow {
    box-sizing: border-box;
    height: 24px;
    width: 24px;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
}
.arrow-btn {
    bottom: 40px;
    animation: MoveUpDown 2s linear infinite;
    @extend .text-center, .position-absolute;
    .icon {
        fill: $quaternary;
    }
}

#home > * {
    &:nth-child(even) {
        background-color: shade-color($secondary, 20%);
    }
    &:nth-child(odd) {
        background-color: shade-color($secondary, 10%);
    }
}

#navbar {
    @extend .bg-tertiary, .py-2;
    transition: 0.5s;
}


#resource-item {
    img {
        @extend .img-fluid;
    }
}

#footer {
    @extend .bg-tertiary;
    .social-links > * {
        @extend .no-decoration;
    }
}

