<div id="projects" class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for repo in repos.projectRepos %}
            <div class="col">
                <a href="{{repo.html_url | url}}" class="no-decoration" target="_blank">
                    <div class="card h-100 bg-primary text-secondary shadow-sm justify-content-around">
                        <h5 class="card-header d-flex align-items-center justify-content-center" style="min-height: 70px; top: 50%;">{{repo.name | reformatRepoName}}</h5>
                        <img src="https://github.com/{{gh.ORG_NAME}}/{{repo.name}}/raw/{{gh.DEFAULT_BRANCH}}/thumbnail.jpg" class="card-img-top thumbnail" style="height: 300px" alt="{{repo.name}}">
                            <div class="card-footer">
                                {{repo.description}}
                            </div>
                        </div>
                    </a>
                </div>
            {%else %}
                <div class="h3">Coming Soon...</div>
            {% endfor %}
        </div>
    </div>
</div>
